@{
    ViewData["Title"] = "Ness Health - Challenge";
}

    <div class="text-justify">
        <h2>Bem vindo</h2>
        <h4>Este é o desafio C# da NessHealth</h4>
        <p>O desafio consiste em criar um CRUD, onde serão armazenados três informações dos usuários:</p>
        <ul>
            <li>Nome;</li>
            <li>CPF;</li>
            <li>Telefone.</li>
        </ul>
        <p>É obrigatório o uso de Asp.Net MVC(versão mínima 4), Bootstrap e SQL Server.</p>
        <p>O código fonte precisa estar no Github, inclusive os scripts sql para que seja possível rodarmos na nossa base de dados.</p>
    </div>
